<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ComprasNetApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_comprasnet_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_comprasnet_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComprasNet"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <nav-graph android:value="@navigation/bottom_navigation" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="SUPABASEURL" android:value="${SUPABASEURL}" />
        <meta-data android:name="SUPABASEKEY" android:value="${SUPABASEKEY}" />
    </application>

</manifest>